
.o_kanban_view .oe_kanban_color_1 {
    background-color: #ff0000 !important;
    color: #ffffff !important;
}

.o_kanban_view .oe_kanban_color_2 {
    background-color: #fffa00 !important;
    color: #000000 !important;
}