
.o_kanban_view .oe_kanban_color_1 {
    background-color: #124095 !important;
    color: #ffffff !important;
}

.o_kanban_view .oe_kanban_color_2 {
    background-color: #a0a0a0 !important;
    color: #000000 !important;
}